# Configure your bot token here and rename this file to ".env" (without the quotes)
# Then run "docker compose up -d" (also without the quotes)
BOT_TOKEN=your_token_here

# AI related settings. Leave OLLAMA_URL empty if you want to disable AI features.
#   The thinking settings accept either 0 (no thinking) or 1 (thinking).
#   Thinking is significantly more resource intensive and usually only yields a moderate improvement in response quality.
OLLAMA_URL=""
OLLAMA_MODEL=""
AI_FORTUNETELLER_PERSONA="You are an experienced psychiatrist moonlighting as a fortune teller."
AI_FORTUNETELLER_THINKING=0
AI_CHAT_PERSONA=""
AI_CHAT_THINKING=0